/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/* Variables Css */
:root {

    --header-height: 3.5rem;
    /* hls colors */
    --first-color: hsl(14, 100%, 57%);
    --first-color-alt: hsl(14, 100%, 65%);
    --title-color: hsl(0, 0%, 0%);
    --text-color: hsl(211.8, 15%, 22.2%);
    --text-color-light: hsl(211.8, 15%, 50.2%);
    --body-color: hsl(0, 0%, 93.3%);

    /* fonts */
    --body-font: "Poppins", sans-serif;
    --title-font: "";
    --subtitle-font: "";
    --biggest-font-size: 2.25rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    --font-medium: 500;
    --font-semi-bold: 600;

    /* Z index */
    --z-tooltip: 10;
    --z-fixed: 100;


}

@media screen and (min-width: 1024px) {
    :root {
        --biggest-font-size: 4rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

/* Base */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}

h1,
h2,
h3 {
    /* color: var(--title-color); */
    font-weight: var(--font-medium);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* Reusable CSS Classes */

.container {
    max-width: 1024px;
    margin-inline: 1.5rem;
}

.grid {
    display: grid;
    gap: 1.5rem;
}

.section {
    padding: 2rem 0 4rem;
    
}

.section_title{
    text-align: center;
    font-size: var(--h1-font-size);

}

.section_subtitle{
    text-align: center;
    font-size: var(--small-font-size);
    color: var(--text-color-light);
}

.button {
    border: none;
    font-size: var(--normal-font-size);

    background: var(--text-color);
    padding: .75rem 3rem;

    color: var(--body-color);
    border-radius: 2rem;
    
}

.button_flex{
    display: inline-flex;
    align-items: center;
    gap: .35rem;
}


.main {
    overflow: hidden;
}

/* haader */
.header {
    width: 100%;
    position: fixed;
    background-color: var(--body-color);
    bottom: 0;
    left: 0;
    z-index: var(--z-fixed);
}

.nav {
    max-width: 968px;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_logo,
.nav_toggle,
.nav_close {
    display: flex;
    color: var(--text-color);
}

.nav_logo {
    align-items: center;
    column-gap: .5rem;
    font-size: var(--h3-font-size);
    font-weight: var(--font-semi-bold);
    transition: .3s;
}

.nav_logo img {
    width: 25px;
}

@media screen and (max-width: 767px) {
    .nav_menu {
        position: fixed;
        bottom: -100%;
        left: 0;
        background-color: var(--body-color);
        width: 100%;
        box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
        border-radius: 1.5rem 1.5rem 0 0;
        padding: 2rem 1.5rem 4rem;
        transition: bottom .4s;
    }
}

.nav_list {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.nav_link {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--normal-font-size);
    color: var(--text-color);
    font-weight: var(--font-medium);
    transition: color .4s;
    padding: .25rem;
}

.nav_link:hover {
    color: var(--text-color-light);
   
}

.nav_icon {
    font-size: 1.2rem;
}

.nav_close {
    position: absolute;
    bottom: 1rem;
    right: 1.5rem;
    font-size: 1.5rem;
    cursor: pointer;
}

.show-menu {
    bottom: 0;
}

.nav_toggle {
    font-size: var(--h2-font-size);
}

.scroll-header {
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);

}

.active-link {
    /* color: var(--first-color); */
    color: var(--text-color-light);
}

/* Home */
.home {
    position: relative;

}

.home_section {
    padding: 2rem 0 2rem;
    
}

.home_container {
    row-gap: 3rem;
    padding-top: 2rem;
}

.home_image {
    width: 300px;
    justify-self: center;
}

.home_data {
    text-align: center;
}

.home_title {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.home_subtitle {
    font-size: var(--biggest-font-size);
}


.home_title div {

    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: .5rem;
}

.title_logo {
    width: 60px;
}

.home_subtitle {
    font-weight: var(--font-semi-bold);
}




.home_buttons{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.home_social_link {
    font-size: 2rem;
    color: var(--text-color);
}

.home_description {
    color: var(--text-color-light);
    padding: 0 1rem;
    margin-bottom: 2.5rem;
    font-size: 1.2rem;
}

.scroll_down{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: .35rem;
    display: none;
}

.scroll_down > i{
    font-size: 2rem;
}

/* Sobre */
.about_title{
    
}

.about_container{
    margin-top: 2rem;
}
.about_img-content{
    display: grid;
    justify-self: center;
    align-items: center;
    overflow: hidden;
}

.about_image{
    width: 200px;
    border-radius: 2rem;
}

.about_description{
    text-align: center;
    color: var(--text-color-light);
}

.about_info{
    display: flex;
    justify-content: space-evenly;
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
}


.about_info-title{
    color: var(--text-color);
    font-size: var(--h2-font-size);
    font-weight: var(--font-semi-bold);
}

.about_info-name{
    font-size: var(--small-font-size);
    color: var(--text-color-light);
}

.about_info-title,
.about_info-name{
    display: block;
    text-align: center;
}

.about_buttons{
    display: flex;
    justify-content: center;
}

/* Qualification */

.qualification_container{
    margin-top: 2rem;
}


.qualification_data{
   display: grid;
   grid-template-columns: 1fr max-content 1fr;
   column-gap: 1.1rem;
}

.qualification_data-info{
    display: flex;
    flex-direction: column;
    gap: .35rem;

}

.qualification_data-title{
    font-weight: var(--font-semi-bold);
    display: flex;
    gap: .35rem;
    align-items: center;
}

.qualification_data-title > i{
    font-size: 1.5rem;
}

.qualification_data-description,
.qualification_data-date{
    color: var(--text-color-light);
    font-size: var(--small-font-size);
}

.qualification_data-date{
    margin-top: .35rem;
}

.qualification_rounder{
    display: inline-block;
    width: 13px;
    height: 13px;
    background-color: var(--text-color);
    border-radius: 50%;
}
.qualification_line{
    display: block;
    width: 1px;
    height: 100%;
    background-color: var(--text-color);
    transform: translate(6px, -7px);
}




/* Media Querys */
@media screen and (max-width: 414px) {

    .home_section{
        padding: 2rem 0 2rem;
    }

    .container {
        margin-inline: .75rem;
    }

    .home_title {
        font-size: 1.7rem;
    }

    .home_subtitle{
        font-size: 2rem;
    }

    .home_description {
        font-size: 1rem;
    }
}


@media screen and (min-width: 576px) {
    .about_container{
        grid-template-columns: repeat(2, 1fr);
    }

    .about_image{
        width: 300px;
    }
    .about_description{
        text-align: initial;
    }
    .about_info{
        justify-content: space-between;
    }
    .about_buttons{
        justify-content: initial;
    }

    
}

@media screen and (min-width: 767px) {

    .section {
        padding: 5rem 0 1rem;
    }
    

    .container {
        margin: auto;
    }


    .header {
        top: 0;
        bottom: initial;
    }

    .header,
    .main,
    .footer_container {
        padding: 0 1rem;
    }

    .nav {

        height: calc(var(--header-height) + 1.5rem);
        column-gap: 1rem;
    }

    .nav_icon,
    .nav_close,
    .nav_toggle {
        display: none;
    }

    .nav_list {
        display: flex;
        column-gap: 2rem;
    }

    .nav_menu {
        margin-left: auto;
    }

    .home_section{
        padding: 5rem 0 2rem;
    }

    .home_container {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 'data photo';
    }

    .home_image {
        grid-area: photo;
    }

    .home_data {
        grid-area: data;
    }

    .scroll_down{
        display: flex;
    }

    .about_container{
        margin-top: 3rem;
    }

    .about_container{
        column-gap: 5rem;

    }
    .about_image{
        width: 320px;
    }

    .qualification_container{
       
        padding-top: 3rem;
        max-width: 767px;
        margin: 0 auto;
        
    }

    
  
   


}

@media screen and (min-width: 1024px) {
   

    .nav {
        height: calc(var(--header-height) + 1.5rem);
    }

    .home_image {
        width: 500px;
    }



    .home_title {
        font-size: 2.8rem;
    }

    .home_subtitle {
        font-size: var(--biggest-font-size);
    }


}

@media screen and (min-width: 1064px) {}

@media screen and (min-width: 1280px) {}